{% extends 'AppBundle::base-layout.html.twig' %}

{% block title %}Comment preview{% endblock %}

{% block page_title %}Comments{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">

                <div class="box-header with-border">
                    <h3 class="box-title">Comment preview</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <dl class="dl-horizontal">
                            <dt>{{ 'comment.id'|trans }}</dt>
                            <dd>{{ comment.id }}</dd>

                            <dt>{{ 'comment.comment'|trans }}</dt>
                            <dd>{{ comment.comment }}</dd>
                        </dl>
                    </div>
                </div>

                <div class="box-footer clearfix">
                    <div class="pull-left box-tools">
                        <a class="btn btn-info btn-sm" href="{{ path('comment_index') }}"><i class="fa fa-list"></i>
                            List</a>
                        <a class="btn btn-info btn-sm" href="{{ path('comment_edit', { 'comment': comment.id }) }}"><i
                                    class="fa fa-edit"></i> Edit</a>
                        <a class="btn btn-danger btn-sm" href="#" data-toggle="modal"
                           data-ref="{{ path('company_delete', {'id': comment.id}) }}"
                           data-record-title="{{ comment.id }}"
                           data-target="#confirm-delete"
                           data-message="{{ 'comment.actions.delete.warning'|trans|escape }}">
                            <i class="fa fa-remove"></i> {{ 'actions.remove'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->

    {% include 'AppBundle:Modal:delete_modal.html.twig' %}
{% endblock %}
