{% extends 'AppBundle::base-layout.html.twig' %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ box_title }}</h3>
            {% if is_granted('ROLE_CAN_MANAGE_COMPANIES') %}
                <div class="pull-right box-tools">
                    <a class="btn btn-info btn-sm" href="{{ path('company_add') }}"><i class="fa fa-plus"></i>
                        New</a>
                </div>
            {% endif %}
        </div>

        <div class="box-body">
            <table class="table table-bordered table-striped table-hover" id="companiesDataTable">
                {#
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(companies, 'company.id'|trans, 'entity.id') }}</th>
                    <th class="sorting">{{ knp_pagination_sortable(companies, 'company.name'|trans, 'entity.name') }}</th>
                    <th>{{ 'system_fields.created_by'|trans }}</th>
                    <th>{{ 'system_fields.created_date'|trans }}</th>
                    <th>{{ 'system_fields.modified_by'|trans }}</th>
                    <th>{{ 'system_fields.modify_date'|trans }}</th>
                    <th>{{ 'actions.actions'|trans }}</th>
                </tr>
                </thead>
                #}
                <thead>
                <tr>
                    {% for key,item in data %}
                        <th>{{ key }}</th>
                    {% endfor %}
                    <th>{{ 'actions.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        {% for key,item in data %}
                            <td>
                                {% if attribute(entity, item).timestamp is defined %}
                                    {{ attribute(entity, item)|date('Y-m-d H:i:s') }}
                                {% else %}
                                    {{ attribute(entity, item) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>
                            <a class="btn btn-success btn-xs"
                               href="{{ path(path_to_view, { 'entity': entity.id }) }}"><i class="fa fa-eye"></i>
                                View</a>
                            <a class="btn btn-info btn-xs"
                               href="{{ path(path_to_edit, { 'entity': entity.id }) }}"><i
                                        class="fa fa-edit"></i> Edit</a>

                            <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                               data-ref="{{ path(path_to_delete, {'entity': entity.id}) }}"
                               data-record-title="{{ entity.id }}"
                               data-target="#confirm-delete"
                               data-message="{{ delete_warning|trans|escape }}">
                                <i class="fa fa-remove"></i> {{ 'actions.remove'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            {# display navigation #}
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                            Showing {{ pageStartRecord }}
                            to {{ pageEndRecord }}
                            of
                            {{ pagination.getTotalItemCount }} entries
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle:Modal:delete_modal.html.twig' %}
{% endblock %}
