{% extends 'Test1Bundle:base-layout.html.twig' %}

{% block page_title %} Companies {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                    <h3 class="box-title">Hover Data Table</h3>
                </div>

                <table class="table table-bordered table-striped table-hover" id="companiesDataTable">
                    <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(companies, 'Name', 'entity.name') }}</th>
                        <th>Description</th>
                        <th>Createby</th>
                        <th>Createdate</th>
                        <th>Modifyby</th>
                        <th>Modifydate</th>
                        <th>{{ knp_pagination_sortable(companies, 'Id', 'entity.id') }}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for company in companies %}
                        <tr>
                            <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.name }}</a></td>
                            <td>{{ company.description }}</td>
                            <td>{{ company.createBy }}</td>
                            <td>{% if company.createDate %}{{ company.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ company.modifyBy }}</td>
                            <td>{% if company.modifyDate %}{{ company.modifyDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ company.id }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('company_show', { 'id': company.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('company_edit', { 'id': company.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {# display navigation #}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                Showing {{ (current_page * limit_per_page) - limit_per_page + 1 }}
                                to {{ current_page * limit_per_page }}
                                of
                                {{ companies.getTotalItemCount }} entries
                            </div>
                        </div>

                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                                {{ knp_pagination_render(companies,'Test1Bundle:Pagination:base-layout.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.row -->

    <ul>
        <li>
            <a href="{{ path('company_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
