{% extends 'AppBundle::base-layout.html.twig' %}

{#{% block title %} Test system {% endblock %}#}

{#{% block page_subtitle %} {% endblock %}#}

{% block page_title %}{{ 'company.companies'|trans }}{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'company.list'|trans }}</h3>
            {% if is_granted('ROLE_CAN_MANAGE_COMPANIES') %}
                <div class="pull-right box-tools">
                    <a class="btn btn-info btn-sm" href="{{ path('company_new') }}"><i class="fa fa-plus"></i>
                        New</a>
                </div>
            {% endif %}
        </div>

        <div class="box-body">
            <table class="table table-bordered table-striped table-hover" id="companiesDataTable">
                <thead>
                <tr>
                    {# sorting of properties based on query components #}
                    <th>{{ knp_pagination_sortable(companies, 'company.id'|trans, 'entity.id') }}</th>
                    <th class="sorting">{{ knp_pagination_sortable(companies, 'company.name'|trans, 'entity.name') }}</th>
                    <th>{{ 'system_fields.created_by'|trans }}</th>
                    <th>{{ 'system_fields.created_date'|trans }}</th>
                    <th>{{ 'system_fields.modified_by'|trans }}</th>
                    <th>{{ 'system_fields.modify_date'|trans }}</th>
                    <th>{{ 'actions.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                    <tr>
                        {#<td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>#}
                        <td>{{ company.id }}</td>
                        <td>{{ company.name }}</td>
                        <td>{{ company.createBy.getFullName }}</td>
                        <td>{% if company.createDate %}{{ company.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ company.modifyBy }}</td>
                        <td>{% if company.modifyDate %}{{ company.modifyDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a class="btn btn-success btn-xs"
                               href="{{ path('company_show', { 'id': company.id }) }}"><i class="fa fa-eye"></i>
                                View</a>
                            <a class="btn btn-info btn-xs"
                               href="{{ path('company_edit', { 'id': company.id }) }}"><i
                                        class="fa fa-edit"></i> Edit</a>

                            <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                               data-ref="{{ path('company_delete', {'id': company.id}) }}"
                               data-record-title="{{ company.name }}"
                               data-target="#confirm-delete"
                               data-message="{{ 'company.actions.delete.warning'|trans|escape }}">
                                <i class="fa fa-remove"></i> {{ 'actions.remove'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            {# display navigation #}
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                            Showing {{ pageStartRecord }}
                            to {{ pageEndRecord }}
                            of
                            {{ companies.getTotalItemCount }} entries
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers">
                            {{ knp_pagination_render(companies) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'AppBundle:Modal:delete_modal.html.twig' %}
{% endblock %}
